@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<h2>Items in Cart: @Program.count</h2>
<div>
    <h2>Menu</h2>
    @foreach (var item in Program.menu.getMenu())
    {
        <div class="menu-item">
            <h3>@item.Name</h3>
            <p>@item.Price</p>
            <p>@item.Description</p>
            <p>@item.Quantity</p>

            <form asp-page-handler="ItemHandler" method="post">
                <button class="btn btn-default">Add To Cart</button>
            </form>
        </div>
    }
</div>


