@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Menu Len: @Program.menu.NumOfItems</h2>
<div>
    @foreach (var item in Program.menu.getMenu())
    {
        <div class="menu-item">
            <h3>@item.Name</h3>
            <p>@item.Price</p>
            <p>@item.Description</p>
            <p>@item.Quantity</p>
            <button>Add To Cart</button>
        </div>
    }
</div>
